<section>
	{% assign matched = false %}
	{% assign prev_page = null %}
	{% assign next_page = null %}
	{% assign sorted_pages = site.pages | sort:"name" %}
	{% for p in sorted_pages %}
	{% if matched == true %} {% if next_page == null %}
		{% assign next_page = p %} 
	{% endif %} {% endif %}
	{% if p.url == page.url %} {% assign matched = true %} {% endif %}
	{% if matched == false %} 
		{% assign prev_page = p %}
	{% endif %} 
	{% endfor %}
	<div class="section-nav">
		<div class="left align-right">
		上一篇: {% if prev_page != null %}  <a href="{{site.url}}{{prev_page.url}}">{{prev_page.title}}</a>{% else %} 没有了{% endif %}
		</div>
		<div class="right align-left">
			下一篇: {% if next_page != null %}  <a href="{{site.url}}{{next_page.url}}">{{next_page.title}}</a> {% else %} 没有了{% endif %}
		</div>
	</div>
	<footer>
		<a href="http://alignedleft.com/tutorials/d3">D3 tutorials</a> Translated by <a href="https://pkuwwt.github.com/">pkuwwt</a><br>
        &copy;Copyright belongs to <a href="http://alignedleft.com/">Scott Murray</a>
    </footer>
</section>
